<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bayuirfan.madesubmission">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <permission android:name="com.bayuirfan.madesubmission.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="com.bayuirfan.madesubmission.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".features.dashboard.search.SearchTvShowActivity" />

        <activity android:name=".features.dashboard.search.SearchMovieActivity" />
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.details.tvshow.DetailTvShowActivity" />
        <activity android:name=".features.details.movie.DetailMovieActivity" />
        <activity
            android:name=".features.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".features.widget.TvShowCatalogueWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tv_show_catalogue_widget_info" />
        </receiver>

        <receiver android:name=".features.widget.MovieCatalogueWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_catalogue_widget_info" />
        </receiver>

        <receiver android:name=".services.SchedulerReceiver" />

        <service
            android:name=".services.MovieStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".services.TvShowStackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>